body {
font-family: Arial;
margin: 0;
}

header {
background: #004aad;
color: white;
padding: 1rem;
display: flex;
justify-content: space-between;
}

nav a {
color: white;
margin-left: 15px;
text-decoration: none;
}

.hero {
padding: 60px;
text-align: center;
background: #f4f4f4;
}

.btn {
background: #004aad;
color: white;
padding: 10px 20px;
text-decoration: none;
}

.grid {
display: flex;
gap: 20px;
}
